/* Variables */
:root {
	--tab-min-height: 32px !important;
	--tab-min-width:  60px !important;
	/* --toolbarbutton-icon-fill-attention: red !important; */
}

* {
	font-size: 13pt !important;
}

/* Fix for the weird white line on Wayland(?) */
body > box {
	margin-bottom: -1px !important;
}

/* Chrome-rounded-style URL bar */
#urlbar:not([breakout-extend="true"]) #urlbar-background {
	border-radius: 16px !important;
}

/* Hide the bookmarks bar, always. */
#PersonalToolbar {
	display: none;
}

#sidebar-header {
	display: none;
}

.sidebar-splitter {
	display: none;
/*
	width:  0;
	border: 0;
	border-right: 1px solid #515151;
*/
}

/* Shrink sidebar until hovered when using Sidebery. */
/* CSS from https://github.com/mbnuqw/sidebery/issues/426. */
:root {
    --thin-tab-width: 85px;
    --wide-tab-width: 250px;
}
#sidebar-box {
    position: relative !important;
	/* Transitions don't work for some reason. */
    min-width: var(--thin-tab-width) !important;
    max-width: var(--thin-tab-width) !important;
	/* Fix for later Firefox clipping the sidebar. */
	z-index: 100 !important;
}
#sidebar-box:hover {
    min-width: var(--wide-tab-width) !important;
    max-width: var(--wide-tab-width) !important;
    margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
    z-index: 1 !important;
	box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.45) !important;
}

#navigator-toolbox {
	position: relative !important;
	z-index: 2 !important;
	border-bottom: 0 !important;
}

/* Hide the tab bar and use Sidebery. */
#TabsToolbar > .toolbar-items {
	display: none !important;
}

#navigator-toolbox {
	height:  40px !important;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;

	border-radius: 4px 4px 0 0;
	background: linear-gradient(
		to right,
		rgba(85,  205, 252, 1) 0%,
		rgba(147, 194, 255, 1) 25%,
		rgba(200, 181, 245, 1) 50%,
		rgba(234, 171, 217, 1) 75%,
		rgba(247, 168, 184, 1) 100%
	);
}
#titlebar {
	appearance: none !important;
}
#nav-bar {
	flex: 1;
	color: black !important;
	background: transparent !important;
	box-shadow: none !important;
	border-top: none !important;
}
#navigator-toolbox,
#titlebar *,
#nav-bar toolbarbutton,
#nav-bar toolbaritem:not(#urlbar) {
	-moz-window-dragging: drag !important;
}
#navigator-toolbox .notificationbox-stack:empty {
	width: auto !important;
}
#urlbar {
	color: black !important;
	top: 1px !important;
}
#urlbar-background {
	border: none !important;
	background-color: transparent !important;
}
#urlbar[focused="true"] > #urlbar-background {
	box-shadow: none !important;
}
#nav-bar[urlbar-exceeds-toolbar-bounds="true"] #urlbar {
	color: white !important;
}
#nav-bar[urlbar-exceeds-toolbar-bounds="true"] #urlbar-background {
	background-color: var(--toolbar--field-non-lwt-bgcolor, Field) !important;
}

/* Some alignment tweaks to do with the URL popout. */
#urlbar[breakout][breakout-extend] {
	top: 0px !important;
	margin-top: -5px !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
	margin: 4px 0 !important;
}

/* Ugly fallback for the menubar, only for when I actually need it. */
#toolbar-menubar {
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    margin-left: -50vw;
    background-color: black;
}

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
	background: #2C2C2C !important;
}

/* Tab height - restore compact */
#tabbrowser-tabs {
	height: 38px;
}

/* Gradient-compatible colors */
tabs#tabbrowser-tabs tab:not([selected]),
tabs#tabbrowser-tabs toolbarbutton	   .toolbarbutton-icon,
tabs#tabbrowser-tabs toolbarbutton:hover .toolbarbutton-icon {
	color: black !important;
}

/* Remove the waste of space */
#TabsToolbar > .titlebar-spacer {
	display: none !important;
}
/* Waste our own space, but smaller */
#TabsToolbar > .toolbar-items {
	margin:  0 0.5em !important;
	display: flex; /* Need this for child to fill height, unsure why. */
	flex-direction: row;
}

/* Slight padding. */
#TabsToolbar tab.tabbrowser-tab .tab-stack {
	margin: 0 var(--toolbarbutton-outer-padding) !important
}
/* Hide the border on top of the tabs */
#TabsToolbar tab.tabbrowser-tab .tab-line {
	display: none !important;
}

/* Fix a slight padding offset on tab hover. */
#TabsToolbar tab.tabbrowser-tab .tab-close-button {
	width:  16px !important;
	height: 16px !important;
	padding: 3px !important;
	margin-left: 0px !important;
}

/* Slight tweak: lighten the tab separator */
#TabsToolbar .tabbrowser-tab::after, .tabbrowser-tab::before {
	opacity: 0.2 !important;
}

/* SHADOWS!!! */
#TabsToolbar .tabbrowser-tab[visuallyselected="true"] .tab-background {
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75) !important;
}

/* Add a bit of padding */
#urlbar-container {
	margin:  0px var(--toolbarbutton-outer-padding) !important;
	padding: 1px var(--toolbarbutton-outer-padding) !important;
	min-width: 500px !important;
}
/* Hide the Pocket button */
#urlbar-input-container #pocket-button {
	display: none;
}
/* Default buttons to not have border radiuses. */
#urlbar-input-container box[role="button"] {
	border-radius: 0 !important;
}
/* Left-most button in the address bar */
#urlbar-input-container #tracking-protection-icon-container {
	border-radius: 999px 0 0 999px !important;
}
/* Right-most */
#urlbar-input-container #star-button-box {
	border-radius: 0 999px 999px 0 !important;
}

/* Bigger avatar so we can admire it more. */
#fxa-avatar-image {
	width:  20px !important;
	height: 20px !important;
}
/* Reduce padding to account for the above change. */
#fxa-toolbar-menu-button > stack {
	--toolbarbutton-inner-padding: 6px !important;
}

/* Hide tab left/right buttons since I never use them. */
#scrollbutton-up,
#scrollbutton-down {
	display: none;
}

/* Hide the New Tab button. */
#alltabs-button,
#new-tab-button,
#tabs-newtab-button {
	display: none !important;
}

.webextension-browser-action {
	opacity: 0.25;
	transition: linear 50ms opacity;
}
.webextension-browser-action:hover {
	opacity: 1 !important;
}

/* Popup tweaks. */
.notification-message {
	padding-block: 0px !important;
}
.container.infobar {
	align-items: center !important;
}
