vte-terminal {
	padding: 4px 6px;
}

.titlebar, headerbar {
	/* opacity: 0.95; */
	/* background: none; */
}

/*
windowcontrols {
	border-left: 2px solid alpha(white, 0.35);
	border-bottom: 2px solid alpha(white, 0.35);
	border-radius: 0 9px 0 9px;
	padding: 0 4px;
}
*/

windowhandle > box {
	padding-right: 0;
}

windowcontrols > :nth-child(1) image {
	color: #55CDFC;
}
windowcontrols > :nth-child(2) image {
	color: #F7A8B8;
}

/*
terminal-window,
terminal-window stack,
terminal-window vte-terminal {
	background-color: transparent;
}

terminal-window vte-terminal {
	opacity: 0.975;
}
*/

/*
.nautilus-window .sidebar-row {
	margin: -10px 0;
	padding: 0;
	min-height: 0;
}

.nautilus-window,
.nautilus-grid-view gridview.view {
	background-color: @theme_bg_color;
}

.nautilus-window .sidebar-row .sidebar-revealer {
	padding-left: 6px;
	margin-left: 6px;
}

.nautilus-window .sidebar-row:selected .sidebar-revealer {
	background-color: @theme_bg_color;
	border-radius: 100px 0 0 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.nautilus-window .sidebar-row:selected .sidebar-revealer > box {
	background: none;
	border: none;
}

.nautilus-window .sidebar-row:selected .sidebar-icon {
	margin-left: 8px;
	padding-right: 8px;
}

.nautilus-window .sidebar-row:selected .sidebar-label {
	min-height: 0;
	padding-left: 0;
}

.nautilus-window .sidebar-row .sidebar-revealer {
	padding-left: 6px;
	margin-left: 6px;
}

.nautilus-window .sidebar-row:selected .sidebar-revealer {
	background-color: @theme_bg_color;
	border-radius: 100px 0 0 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.nautilus-window .sidebar-row:selected .sidebar-revealer > box {
	background: none;
	border: none;
}

.nautilus-window .sidebar-row:selected .sidebar-icon {
	margin-left: 8px;
	padding-right: 8px;
}

.nautilus-window .sidebar-row:selected .sidebar-label {
	min-height: 0;
	padding-left: 0;
}
*/

.background.csd,
.background.csd > * {
	/* border: none; */
	/* box-shadow: none; */
}

/*
.csd.nautilus-window {
	background-color: transparent;
}

placessidebar {
	background-color: alpha(@theme_bg_color, 0.75);
}
*/

/*
button.titlebutton       { opacity: 0.65; transition: opacity 80ms linear; }
button.titlebutton:hover { opacity: 1.00; }
*/

/* .titlebar, headerbar { */
/* 	background: transparent; */
/* } */

/* Hopefully Chrome can catch up to this. */
/* .titlebar:only-child, headerbar:only-child { */
/*  */
/* .titlebar scrolledwindow { */
/* 	background: none; */
/* 	border: 1px solid alpha(black, 0.15); */
/* 	border-radius: 4px; */
/* } */

/* decoration { */
/* 	padding: 0; */
/* } */

.pavucontrol-window notebook scrolledwindow > viewport > box:first-child > box {
	margin: 0 15px;
}

.pavucontrol-window notebook scrolledwindow > viewport > box:first-child > box > box > box:nth-child(2),
.pavucontrol-window notebook scrolledwindow > viewport > box:first-child > box > box > box:nth-child(3) {
	margin-right: 200px;
}

.pavucontrol-window notebook scrolledwindow > viewport > box:first-child progressbar {
	margin-right: 120px;
}
